@page
@using Humanizer;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <a asp-page="Bugs/Create"> + Add a new bug</a>
</div>

@if(Model.Bugs.Count() == 0)
{
    <p>No bug added yet, well done!</p>
}
else
{
    
    @foreach(var bug in Model.Bugs)
     {
      
         
        <div class="card w-25 mb-3">
             <a class= "card-header" asp-page="Bugs/Detail" asp-route-id="@bug.Id" class="text text-decoration-none">@bug.Name</a>
            <span class="badge bg-secondary">@bug.BugType</span>
            <div class="card-body">
             <h2 class="card-title">@bug.Author</h2>
             <p class="card-text">@bug.Description</p>
             <p class="card-text">@bug.Date.Humanize(utcDate:false)</p>
             </div>
        </div>
               
    }

}