@page "{id:int}"
@using Humanizer;
@model BugTracker.Pages.Bugs.DetailModel
@{
}

@if(Model.Bug == null)
{
    <p>No bug found</p>
    <a asp-page="../Index">Return to home</a>
}
else
{
    <div>
        <div class="card m-3">
            <div class="card-header">@Model.Bug.Name</div>
            <span class="badge bg-secondary">@Model.Bug.BugType</span>
            <div class="card-body">
                <h2 class="card-title">@Model.Bug.Author</h2>
                <p class="card-text">@Model.Bug.Description</p>
                <p class="card-text">@Model.Bug.Date.Humanize(utcDate:false)</p>
                <p class="card-text">@Model.Bug.Status</p>
            </div>
        </div>
    </div>


        <button class="btn btn-info" ><a asp-page="Edit" class="text text-decoration-none text-white" asp-route-id="@Model.Bug.Id">Edit</a></button>

        <form method="post">
        <button type="submit" class="btn btn-danger mt-2" asp-page-handler="Delete" onclick="return confirm('Are you sure you want to delete this bug?');" asp-route-id="@Model.Bug.Id">Delete</button>
        </form>
}